body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.FooterBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 45vh;
  /* width: 100vw; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footerDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  flex-direction: column;
  /* margin-left: 1rem; */
}

@media screen and (max-width: 1024px) {
  .footerDetails {
    margin-left: 10rem;
  }
}
